ProofSweeperBase.mp4 filter=lfs diff=lfs merge=lfs -text
ProofSweeperBase1.mp4 filter=lfs diff=lfs merge=lfs -text
ProofSweeperBase2.mp4 filter=lfs diff=lfs merge=lfs -text
ProofSweeperBase3.mp4 filter=lfs diff=lfs merge=lfs -text
ProofSweeperBase4.mp4 filter=lfs diff=lfs merge=lfs -text
ProofSweeperBase5.mp4 filter=lfs diff=lfs merge=lfs -text
ProofSweeperPlay4.mp4 filter=lfs diff=lfs merge=lfs -text
ProofSweeperPlay5.mp4 filter=lfs diff=lfs merge=lfs -text
ProofSweeperPlay2.mp4 filter=lfs diff=lfs merge=lfs -text
ProofSweeperPlay6.mp4 filter=lfs diff=lfs merge=lfs -text
ProofSweeperPlay1.mp4 filter=lfs diff=lfs merge=lfs -text
ProofSweeperPlay3.mp4 filter=lfs diff=lfs merge=lfs -text
ProofSweeperPlay12.mp4 filter=lfs diff=lfs merge=lfs -text
ProofSweeperPlay10.mp4 filter=lfs diff=lfs merge=lfs -text
ProofSweeperPlay11.mp4 filter=lfs diff=lfs merge=lfs -text
ProofSweeperPlay7.mp4 filter=lfs diff=lfs merge=lfs -text
ProofSweeperPlay8.mp4 filter=lfs diff=lfs merge=lfs -text
ProofSweeperPlay9.mp4 filter=lfs diff=lfs merge=lfs -text
ProofSweeperPlay16.mp4 filter=lfs diff=lfs merge=lfs -text
ProofSweeperPlay13.mp4 filter=lfs diff=lfs merge=lfs -text
ProofSweeperPlay15.mp4 filter=lfs diff=lfs merge=lfs -text
ProofSweeperPlay14.mp4 filter=lfs diff=lfs merge=lfs -text
