ProofSweeperBase.mp4 filter=lfs diff=lfs merge=lfs -text
ProofSweeperBase1.mp4 filter=lfs diff=lfs merge=lfs -text
ProofSweeperBase2.mp4 filter=lfs diff=lfs merge=lfs -text
ProofSweeperBase3.mp4 filter=lfs diff=lfs merge=lfs -text
ProofSweeperBase4.mp4 filter=lfs diff=lfs merge=lfs -text
ProofSweeperBase5.mp4 filter=lfs diff=lfs merge=lfs -text
